[submodule "Packages/AIAssistant"]
	path = Packages/AIAssistant
	url = git@github.com:lfrledh/AIAssistant.git
[submodule "Packages/Core"]
	path = Packages/Core
	url = git@github.com:lfrledh/Core.git
[submodule "Packages/ImageInference"]
	path = Packages/ImageInference
	url = git@github.com:lfrledh/ImageInference.git
[submodule "Packages/ModelLoading"]
	path = Packages/ModelLoading
	url = git@github.com:lfrledh/ModelLoading.git
[submodule "Packages/TextInference"]
	path = Packages/TextInference
	url = git@github.com:lfrledh/TextInference.git
[submodule "Packages/UI"]
	path = Packages/UI
	url = git@github.com:lfrledh/UI.git
